@import url("https://fonts.googleapis.com/css?family=Material+Icons+Outlined|Material+Icons+Round");

@import url("https://fonts.googleapis.com/css?family=Material+Icons+Outlined|Material+Icons+Round");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,700");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next,
html,
body {
  height: 100%;
}

#containerFullScreen {
  overflow: hidden;
}

#editorWrapper {
  display: flex;
}

#editorWrapper textarea, #editorWrapper pre {
  flex-direction: column;
  flex-grow: 1;
}

.editor_internal {
  display: flex;
  min-height: 100%
}

.editor_internal div:first-of-type {
  display: flex;
  width: 100%;
}

.compiler_internal {
  width: 100%;
}